/* gallery title */
.gallery-title {
  padding-top: 2.5rem !important;
  background: #ddd;

  &__heading,
  &__icon {
    color: var(--primaryBlue);
  }
}

/* gallery */
.gallery {
  background: #ddd;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(21, 6.5vw);
  grid-gap: .4rem;
  padding: 1rem;
  grid-template-areas:
    "img1 img1 img2 img2 img2 img3 img3 img4 img4"
    "img1 img1 img2 img2 img2 img3 img3 img4 img4"
    "img5 img5 img2 img2 img2 img7 img7 img8 img8"
    "img5 img5 img6 img6 img6 img7 img7 img8 img8"
    "img5 img5 img6 img6 img6 img11 img11 img8 img8"
    "img9 img9 img9 img10 img10 img11 img11 img12 img12"
    "img9 img9 img9 img10 img10 img11 img11 img12 img12"
    "img13 img13 img14 img14 img15 img15 img16 img16 img16"
    "img13 img13 img14 img14 img15 img15 img16 img16 img16"
    "img17 img17 img17 img18 img18 img19 img19 img20 img20"
    "img17 img17 img17 img18 img18 img19 img19 img20 img20"
    "img21 img21 img22 img22 img22 img22 img23 img23 img23"
    "img21 img21 img22 img22 img22 img22 img23 img23 img23"
    "img24 img24 img24 img25 img25 img26 img26 img27 img27"
    "img24 img24 img24 img25 img25 img26 img26 img27 img27"
    "img28 img28 img29 img29 img30 img30 img30 img31 img31"
    "img28 img28 img29 img29 img30 img30 img30 img31 img31"
    "img32 img32 img33 img33 img33 img34 img34 img35 img35"
    "img32 img32 img33 img33 img33 img34 img34 img35 img35"
    "img36 img36 img37 img37 img38 img38 img39 img39 img39"
    "img36 img36 img37 img37 img38 img38 img39 img39 img39";
  
  &__img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    display: block;
    transition: .7s all ease-in-out;
  }

  &__item {
    overflow: hidden;

    &:hover .gallery__img {
      opacity: 0.94;
      transform: scale(1.02);
    }

    &--1 {
      grid-area: img1;
    }
    &--2 {
      grid-area: img2;
    }
    &--3 {
      grid-area: img3;
    }
    &--4 {
      grid-area: img4;
    }
    &--5 {
      grid-area: img5;
    }
    &--6 {
      grid-area: img6;
    }
    &--7 {
      grid-area: img7;
    }
    &--8 {
      grid-area: img8;
    }
    &--9 {
      grid-area: img9;
    }
    &--10 {
      grid-area: img10;
    }
    &--11 {
      grid-area: img11;
    }
    &--12 {
      grid-area: img12;
    }
    &--13 {
      grid-area: img13;
    }
    &--14 {
      grid-area: img14;
    }
    &--15 {
      grid-area: img15;
    }
    &--16 {
      grid-area: img16;
    }
    &--17 {
      grid-area: img17;
    }
    &--18 {
      grid-area: img18;
    }
    &--19 {
      grid-area: img19;
    }
    &--20 {
      grid-area: img20;
    }
    &--21 {
      grid-area: img21;
    }
    &--22 {
      grid-area: img22;
    }
    &--23 {
      grid-area: img23;
    }
    &--24 {
      grid-area: img24;
    }
    &--25 {
      grid-area: img25;
    }
    &--26 {
      grid-area: img26;
    }
    &--27 {
      grid-area: img27;
    }
    &--28 {
      grid-area: img28;
    }
    &--29 {
      grid-area: img29;
    }
    &--30 {
      grid-area: img30;
    }
    &--31 {
      grid-area: img31;
    }
    &--32 {
      grid-area: img32;
    }
    &--33 {
      grid-area: img33;
    }
    &--34 {
      grid-area: img34;
    }
    &--35 {
      grid-area: img35;
    }
    &--36 {
      grid-area: img36;
    }
    &--37 {
      grid-area: img37;
    }
    &--38 {
      grid-area: img38;
    }
    &--39 {
      grid-area: img39;
    }
  }

}

@media screen and (min-width: 768px) {
  .gallery {
    grid-gap: 1rem;
  }
}