/*==============================*/
//         ROOT VARIABLES  
/*==============================*/
:root {
  --primaryBlue: #34495e;
  --primaryWhite: #f5f5f5;
}

/*==============================*/
//         GLOBAL STYLES  
/*==============================*/
.title-underline {
  width: 50%;
  background: var(--primaryBlue);
  height: 3px;
}


/********** Modal ***********/
@media screen and (min-width: 768px) {
  .drop-modal__dialog {
    min-width: 650px !important;
  }
}

@media screen and (min-width: 992px) {
  .drop-modal__dialog {
    min-width: 800px !important;
  }
}

@media screen and (min-width: 1200px) {
  .drop-modal__dialog {
    min-width: 1000px !important;
  }
}