/*==============================*/
//         ROOT VARIABLES  
/*==============================*/
:root {
  --primaryBlue: #34495e;
  --primaryWhite: #f5f5f5;
}

/*==============================*/
//         GLOBAL STYLES  
/*==============================*/
.title-underline {
  width: 50%;
  background: var(--primaryBlue);
  height: 3px;
}