.meph {
  background: linear-gradient(to bottom, rgba(180,180,180, .3), rgba(180,180,180, .5)), url('./img/meph.png') center / cover fixed no-repeat;
  min-height: 30vh;

  &__text {
    font-size: 1.35rem;
    letter-spacing: .1rem;
    font-weight: 400;
    text-align: center;
    color: #000;
  }
  
  &__signature {
    font-size: 1.35rem;
    text-align: center;
    color: #242424;
  }
}

@media (min-width: 992px) { 
  .meph {
    min-height: 40vh;
  }

  .meph__text {
    font-size: 2.25rem;
    letter-spacing: 0.15rem;
    text-align: left;
  }

  .meph__signature {
    font-size: 2.25rem;
    text-align: left;
  }
}