:root {
  --primaryBlue: #34495e;
  --primaryWhite: #f5f5f5;
}

/* header */
.header {
  background: linear-gradient(rgba(192, 57, 43, .5), rgba(192, 57, 43, .5)),url('../img/header.jpg') center / cover no-repeat;
  min-height: 90vh;
  border-top: 5px solid #fff;
}

.header__heading-primary {
  font-weight: 300;
}


/* logo bar */
.logo-bar {
  background-color: var(--primaryBlue);
  min-height: 10vh;
  border-top: 5px solid #fff;
}

.logo-bar__paragraph {
  font-size: 1rem;
}

@media screen and (min-width: 576px) {
  .logo-bar__paragraph {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .logo-bar__paragraph {
    font-size: 2rem;
  }

  .logo-bar__icon {
    font-size: 1.5rem;
  }
}

/* title */
.title-underline {
  width: 50%;
  background: var(--primaryBlue);
  height: 3px;
}

/* team */
.team__img {
  width: 100%;
  display: block;
}

.team__img-container {
  flex-basis: 20%;
}

.team__info-container {
  flex-basis: 80%;
}

.team__playername {
  color: var(--primaryBlue);
}

@media screen and (max-width: 576px) {
  .team__playername {
    font-size: 1.5rem;
  }

  .team__player-desc {
    font-size: 1.1rem;
  }
}

/* meph */
.meph {
  background: linear-gradient(rgba(120,120,120, .3), rgba(120,120,120, .3)), url('../img/meph.png') center / cover fixed no-repeat;
  min-height: 30vh;
}

.meph__text {
  font-size: 1.35rem;
  letter-spacing: .1rem;
  font-weight: 300;
  text-shadow: 0 10px 15px rgba(52,52,52, .4);
  text-align: center;
}

.meph__signature {
  font-size: 1.35rem;
  text-align: center;
}

@media (min-width: 992px) { 
  .meph {
    min-height: 40vh;
  }

  .meph__text {
    font-size: 2.25rem;
    letter-spacing: 0.15rem;
    text-align: left;
  }

  .meph__signature {
    font-size: 2.25rem;
    text-align: left;
  }
}

/* gallery */
.gallery-title {
  padding-top: 2.5rem !important;
  background: #ddd;
}

.gallery-title__heading,
.gallery-title__icon {
  color: #34495e;
}

.gallery {
  background: #ddd;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(7, 6.5vw);
  grid-gap: .4rem;
  padding: 1rem;
  grid-template-areas:
    "img1 img1 img2 img2 img2 img3 img3 img4 img4"
    "img1 img1 img2 img2 img2 img3 img3 img4 img4"
    "img5 img5 img2 img2 img2 img8 img8 img9 img9"
    "img5 img5 img6 img6 img6 img8 img8 img9 img9"
    "img5 img5 img6 img6 img6 img13 img13 img9 img9"
    "img10 img10 img10 img12 img12 img13 img13 img14 img14"
    "img10 img10 img10 img12 img12 img13 img13 img14 img14";
}

@media screen and (min-width: 768px) {
  .gallery {
    grid-gap: 1rem;
  }
}

.gallery__item {
  overflow: hidden;
}

.gallery__img {
  transition: .7s all ease-in-out;
}

.gallery__item:hover .gallery__img {
  opacity: 0.9;
  transform: scale(1.05);
}

.gallery__img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  display: block;
}

.gallery__item--1 {
  grid-area: img1;
}
.gallery__item--2 {
  grid-area: img2;
}
.gallery__item--3 {
  grid-area: img3;
}
.gallery__item--4 {
  grid-area: img4;
}
.gallery__item--5 {
  grid-area: img5;
}
.gallery__item--6 {
  grid-area: img6;
}
.gallery__item--8 {
  grid-area: img8;
}
.gallery__item--9 {
  grid-area: img9;
}
.gallery__item--10 {
  grid-area: img10;
}
.gallery__item--11 {
  grid-area: img11;
}
.gallery__item--12 {
  grid-area: img12;
}
.gallery__item--13 {
  grid-area: img13;
}
.gallery__item--14 {
  grid-area: img14;
}

/* footer */
.footer {
  background-color: var(--primaryBlue);
}

.footer__icon-container {
  padding: 2rem 0;
  flex-grow: 1 0 33.33%;
  width: 33.33%;
  display: flex;
  justify-content: center;
  transition: all .3s;
}

.footer__icon-container:hover {
  background-color: var(--primaryWhite);
}

.footer__icon {
  color: var(--primaryWhite);
  font-size: 2.5rem;
  transition: all .3s;
}

.footer__icon:hover {
  color: var(--primaryWhite);
  transform: scale(1.2);
}

.footer__icon-container:hover .footer__icon {
  color: var(--primaryBlue);
}

@media screen and (min-width: 576px) {
  .footer__icon {
    font-size: 3.5rem;
  }
}

/* goals */
.goals__desc {
  font-size: 1.3rem;
}

.goals__title-icon {
  color: var(--mainBlue);
}
